<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fe"
    android:versionCode="1"
    android:versionName="1.0">
    
    
    <!-- PERMISO DE APLICACION -->
    <permission android:name="com.fe.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
      <uses-permission android:name="com.fe.permission.MAPS_RECEIVE" />
     
    <!-- Specify OpenGL ES 2.0 as a requirement -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   
    
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
          <!--  Add Google Map Library -->
       <!--   <uses-library android:name="com.google.android.maps" /> -->
       
        <!--  Activity -->
        <activity
            android:name="com.fe.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.fe.activity.ActivitySecretaria"
            android:label="@string/activity_secretaria">
         <intent-filter>
             <action android:name="android.intent.action.MAIN"/>
             <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>
         </activity> 
          <activity 
            android:name="com.fe.activity.ActivitySecretariaContent"
            android:label="@string/activity_secretaria">
         <intent-filter>
             <action android:name="android.intent.action.MAIN"/>
             <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>
         </activity>
          <activity 
            android:name="com.fe.activity.ActivityMapUnju"
            android:label="@string/activity_map_unju">
         <intent-filter>
             <action android:name="android.intent.action.MAIN"/>
             <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>
         </activity>
            <activity 
            android:name="com.fe.activity.ActivityComedor"
            android:label="@string/activity_secretaria">
         <intent-filter>
             <action android:name="android.intent.action.MAIN"/>
             <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>
         </activity>
          <activity 
            android:name="com.fe.activity.ActivityNoticia"
            android:label="@string/activity_noticias">
         <intent-filter>
             <action android:name="android.intent.action.MAIN"/>
             <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>
         </activity>
           <activity 
            android:name="com.fe.activity.ActivityGaleria"
            android:label="@string/activity_galeria">
         <intent-filter>
             <action android:name="android.intent.action.MAIN"/>
             <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>
         </activity>
         <!-- apy key -->
         <meta-data 
             android:name="com.google.android.maps.v2.API_KEY"
             android:value="AIzaSyAjiXgifxnR_p3950DD2XQ67rxmGp1N7mY"
             /> 
          <!--   <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />
           -->
    </application>
     
    
  
</manifest>
